<!-- *************************************************** Content ************** -->
        <div data-role="content" class="fit-content">

<!-- hole score grid -->
			<div class="score-grid">

<!-- *** Left column -->
				<div class="column-left">

<!-- first row - 1 button -->
					<div class="row">
						<div data-role="button">
							<p>Parella 1 puntuar</p>
						</div>
					</div>

<!-- second row - 2 buttons -->
					<div class="row">
						<div class="inner-col-left">
							<div data-role="button"><p>Ace</p></div>
						</div>
						<div class="inner-col-right">
							<a href="#" data-role="button">Doble falta</a>
						</div>
					</div>

<!-- thrird row - 2 buttons -->
					<div class="row">
						<div class="inner-col-left">
							<a href="#" data-role="button">Punt guanyador</a>
						</div>
						<div class="inner-col-right">
							<a href="#" data-role="button">Error forçat</a>
						</div>
					</div>

<!-- fourth row - 1 button and score -->
					<div class="row">
						<div class="inner-col-left">
							<a href="#" data-role="button">Borrar</a>
						</div>
						<div class="inner-col-right">
							<div class="scorer-text">0</div>
						</div>
					</div>

				</div>  <!-- Col left -->



<!-- *** Right column -->
				<div class="column-right">

<!-- first row - 1 button -->
					<div class="row">

					    <a href="#" data-role="button">Parella 1 puntuar</a>

					</div>

<!-- second row - 2 buttons -->
					<div class="row">
						<div class="inner-col-left">
							<a href="#" data-role="button">Ace</a>
						</div>
						<div class="inner-col-right">
							<a href="#" data-role="button">Doble falta</a>
						</div>
					</div>

<!-- thrird row - 2 buttons -->
					<div class="row">
						<div class="inner-col-left">
							<a href="#" data-role="button">Punt guanyador</a>
						</div>
						<div class="inner-col-right">
							<a href="#" data-role="button">Error forçat</a>
						</div>
					</div>

<!-- fourth row - 1 button and score -->
					<div class="row">
						<div class="inner-col-left">
							<a href="#" data-role="button">Borrar</a>
						</div>
						<div class="inner-col-right">
							<span class="scorer-text">0</span>
						</div>
					</div>

				</div>  <!-- Col right -->

			</div>
        </div>
<!-- /content -->
