<!-- *************************************************** Content ************** -->
        <div data-role="content" class="fit-content">

<!-- hole score grid -->
			<div class="score-grid">

<!-- *** Left column -->
				<div class="column-left">

<!-- first row - 1 button -->
					<div class="row">
						<div data-role="button" data-bind="text: team1"></div>
					</div>

<!-- second row - 2 buttons -->
					<div class="row">
						<div class="inner-col-left">
							<div data-role="button" data-bind="text: ace"></div>
						</div>
						<div class="inner-col-right">
							<a href="#" data-role="button" data-bind="text: dobleFault"></a>
						</div>
					</div>

<!-- thrird row - 2 buttons -->
					<div class="row">
						<div class="inner-col-left">
							<a href="#" data-role="button" data-bind="text: winnerPoint"></a>
						</div>
						<div class="inner-col-right">
							<a href="#" data-role="button" data-bind="text: unforcedError"></a>
						</div>
					</div>

<!-- fourth row - 1 button and score -->
					<div class="row">
						<div class="inner-col-left">
							<a href="#" data-role="button" data-bind="text: remove"></a>
						</div>
						<div class="inner-col-right">
							<div class="scorer-text">0</div>
						</div>
					</div>

				</div>  <!-- Col left -->

<!-- *** Separator -->
				<div class="separator"></div>

<!-- *** Right column -->
				<div class="column-right">

<!-- first row - 1 button -->
					<div class="row">
						<div data-role="button" data-bind="text: team2"></div>
					</div>

<!-- second row - 2 buttons -->
					<div class="row">
						<div class="inner-col-left">
							<a href="#" data-role="button" data-bind="text: dobleFault"></a>					
						</div>
						<div class="inner-col-right">
							<div data-role="button" data-bind="text: ace"></div>
						</div>
					</div>

<!-- thrird row - 2 buttons -->
					<div class="row">
						<div class="inner-col-left">
							<a href="#" data-role="button" data-bind="text: unforcedError"></a>
						</div>
						<div class="inner-col-right">
							<a href="#" data-role="button" data-bind="text: winnerPoint"></a>
						</div>
					</div>

<!-- fourth row - 1 button and score -->
					<div class="row">
						<div class="inner-col-left">
							<div class="scorer-text">0</div>
						</div>
						<div class="inner-col-right">
							<a href="#" data-role="button" data-bind="text: remove"></a>
						</div>
					</div>

				</div>  <!-- Col right -->

			</div>
        </div>
<!-- /content -->
